.highlight {
  opacity: 1;
}

li {
  margin: 0px 15px 0px 0px;
  padding: 0px;
}

.normal {
  opacity: 0.5;
}

.common {
  height: 100%;
  width: 100%;
}

button {
  border: 0px solid;
  background-color: transparent;
  padding: 0px;
}
